# Compiled Object Files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic Libraries
*.so
*.dylib
*.dll

# Compiled Static Libraries
*.lai
*.la
*.a
*.lib
*.exp

# Executables
*.exe

# NVIDIA Nsight Profiles
*.nsys-rep
*.ncu-rep

# Generated Data Files
*.txt
*.png
